@*@model BEFIT.ViewModels.Training.CreateTrainingViewModel*@
@model IEnumerable<Training>

@inject RoleManager<Role> roleManager;


@{
    ViewBag.Title = "Prikaz svih treninga";
    List<Training> trainings = (List<Training>)TempData["trainings"];
}



<div class="container-no-flex">
    <h1 style="margin-bottom:3rem; text-align:center; font-weight:400;">Raspored treninga</h1>
    <form method="post">
        <table class="products-table training-table-mobile">
            <tr>
                <th>Trener</th>
                <th>Član</th>
                <th>Početak</th>
                <th>Kraj</th>
                <th>Vrsta treninga</th>
                <th><i class="fas fa-window-close"></i></th>

            </tr>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.Author.Firstname @m.Author.Lastname</td>
                    <td>@m.User.Firstname @m.User.Lastname</td>
                    <td>@m.TrainingFrom</td>
                    <td>@m.TrainingTill</td>
                    <td>@m.TrainingType.TrainingTypeName</td>
                    <td>
                        <button type="submit" asp-route-id=@m.TrainingID style="font-size:1.5rem; width:9rem; display:inline-block; text-align:center;" class="delete-product" onclick="return confirm('Da li ste sigurni da želite otkazati trening?')"> Otkaži</button>
                    </td>

                </tr>
            }
   
        </table>
    </form>
</div>